{% if election.voting_has_started %}
 {% if not election.voting_has_stopped %}

  <div id="cast_form">
    <form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      
      {% if status_update_label %}
        <div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
          <input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />

          <blockquote style="font-size: 1.3em;">
            "{{status_update_message}}"
          </blockquote>
          <input type="hidden" name="status_update_message" value="{{status_update_message}}" />
        </div>
        <br />
      {% endif %}

      Você está conectado como <u>{{voter.display_html_big|safe}}</u><br /><br />

      <button class="btn btn-primary" type="submit" class="large">CONFIRMAR</button>
      <button class="btn btn-danger" onclick="if (confirm('Are you sure you want to clear this ballot and NOT cast it?')) {document.location='{% url "election@view" election.uuid %}';}">Cancelar</button><br />
    </form>

    <p>
      
      <span style="font-size:0.8em;"><br />Você pode depositar quantas cédulas quiser. Porém, somente a última é contabilizada.<br /></span>  
      <span style="font-size:0.8em;">Se você cancelar agora, sua cédula <em>NÃO</em> será registrada.<br /> Você pode reiniciar o processo de votação mais tarde.
        </span>
    </p>

  </div>
 {% else %}
  <p style="font-size:1.4em;">
    Desculpe-nos, o período para depositar cédulas já encerrou.
  </p>
 {% endif %}
{% else %}
  <p style="font-size:1.4em;">
    Desculpe-nos, mas a votação ainda não está aberta para esta eleição.
  </p>
{% endif %}