{% extends TEMPLATE_BASE %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="glyphicon glyphicon-info-sign"></i>
        Eleições nas quais você votou 
      </div>
      <div class="panel-body">
        <ul>
          {% for election in elections %}
          <li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
          {% endfor %}
        </ul>
        <br>
        <div class="form-group">        
          <a class="btn btn-danger" href="/"> Voltar </a>
        </div>
      </div> 
      </div>
    </div>
  </div>
</div>

{% endblock %}