{% extends TEMPLATE_BASE %} 
{% block title %}Conectar para Visualizar Eleições{% endblock %}
{% block content %}

<br>
<br>
<br>
<div class="row">
	<div class="col-xs-12 col-md-5">
		<div class="panel panel-info">
			<div class="panel-heading">
                <i class="glyphicon glyphicon-lock"></i>
                Conecte-se para Votar
            </div>
            <div class="panel-body">
                {% with cast_ballot="0" %}
                    {% include "_castconfirm_password.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
